// Responsive styles

@media only screen and (max-width: 1200px) {

  nav#navigation #search-block-form {
    float: none;
    #edit-search-block-form--2 {
      min-width: 13em;
    }
  }

}



@media only screen and (max-width: 991px) {

  nav#navigation #search-block-form {
    div.form-item.form-type-textfield {
      display: inline;
    }
    #edit-search-block-form--2 {
      width: calc( 100% - 5.3em );
    }
  }

}
